<h1>Categories#index</h1>

<div>
  <ul>
    <% if @categories %>
      <% @categories.each do |category|%>
        <li> <%= category.name + ' ' + category.priority%> </li>
      <% end %>
    <% end %>
  </ul>
</div>
